<!DOCTYPE html>
<html lang="en">
  <%- include ./partials/head.ejs %>
  <%- include ./partials/header.ejs %>

  <body>

    <div id="appContainer">
      <div id="fakeMenu">
        <div id="profileBtn"><i class="fa fa-user-o fa-2x"></i> <h3>PROFILE</h3></div>
        <div id="logoutBtn"><i class="fa fa-sign-out fa-2x"></i> <h3>LOGOUT</h3></div>
      </div>
      <div id="app"></div>
    </div>

  </body>

  <%- include ./partials/footer.ejs %>
</html>
